@{
    ViewData["Title"] = "Om oss";
}
<h3>@ViewData["Title"]</h3>


<div>
    <h4> Klimatkollens uppdrag</h4><br/>

    @*<h4>Att öka medvetenhet om klimatförändringar</h4>*@

    <p>
        Klimatkollen är en ideell förening. Vi vill öka medvetenhet om klimatförändringarna. 
        Allt framgång bygger på våra klimatobservatörs stöd och ideella arbete. Vi visualiserar effekterna av 
        klimatförändringarna i Sverige med hjälp av deras observationer. Observationerna av vädret och djur 
        synas per kategori och per område på en karta. Men samlas även i diagrammen som visar hur klimaten har förändrats över tid.
        Ju fler vi är, desto bättre kan vi påverka. Vill du hjälpa oss? Registrera dig nu och bli klimatobservatör. 
        Du är värmt välkommen att skicka in observationer! <br><br>

        Det är dags att samarbeta, det är dags att förändra. <br/><br>

        Grundades av Jörgen Söderback i 2020.
    </p>

</div>
<img style="height: 300px; width: 100%; display: compact;" src="~/images/trees.jpg" alt="Card image" class="responsive">






@*class="form-control" id="exampleTextarea" rows="9"*@