@model Grupp7.Models.UserModel;

@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>


<h4>Har du frågor eller funderingar?</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" action="Contact">
            <div class="container">
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label"> Förnamn</label>
                    <input asp-for="Firstname" class="form-control" name="firstname" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label">Efternamn</label>
                    <input asp-for="Lastname" class="form-control" name="lastname" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-post adress</label>
                    <input asp-for="Email" class="form-control" name="sender" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label">Ämne</label>
                    <input asp-for="Subject" class="form-control" name="subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label">Meddelande</label>
                    <textarea rows="4" cols="1" id="messageTextbox" class="form-control" name="message"></textarea>
                    @*<input asp-for="Message" class="form-control" name="message" />*@
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Skicka" class="btn btn-default" />
                </div>
            </div>
        </form>
        <br />
        <div>@ViewBag.Message</div>
        <img src="~/images/Water.jpg" alt="Card image" class="responsive" title="Bild: Naturskyddsföreningen">
        <p></p>
    </div>
</div>

