

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>


<h4>Har du frågor eller funderingar?</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" action="Contact">
            @*<div class="container">*@
            <div class="form-group">
                <label class="control-label"> Förnamn</label>
                <input class="form-control" name="firstname" required />
            </div>
            <div class="form-group">
                <label  class="control-label">Efternamn</label>
                <input  class="form-control" name="lastname" required/>
            </div>
            <div class="form-group">
                <label class="control-label">E-postadress</label>
                <input class="form-control" name="sender" type="email" required />
            </div>
            <div class="form-group">
                <label class="control-label">Ämne</label>
                <input class="form-control" name="subject" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Meddelande</label>
                <textarea rows="4" cols="1" id="messageTextbox" class="form-control" name="message" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Skicka" class="btn btn-primary" />
            </div>
            @*</div>*@
        </form>
        <br />
        <div>@ViewBag.Message</div>

        <p></p>
    </div>
    <div><img src="~/images/Water.jpg" alt="Card image" class="responsive" title="Bild: Naturskyddsföreningen"> </div>
</div>

