@model Grupp7.ViewModels.EditAnimalViewModel

@{
    ViewData["Title"] = "EditAnimal";
}
<h3>Mitt hem</h3>
<h4>Ändra Observation</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnimalFromId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Animal.Datetime" class="control-label"></label>
                <input asp-for="Animal.Datetime" class="form-control" />
                <span asp-validation-for="Animal.Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label>Djur</label>
            <select asp-for="Animal.SpecieId" asp-items="Model.Species" class="form-control"></select>
    </div>
        <div class="form-group">
        <label>Päls</label>
        <select asp-for="Animal.Coat" asp-items="Model.Coats" class="form-control"></select>
        <span asp-validation-for="Animal.Coat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Animal.Longitude" class="control-label"></label>
        <input asp-for="Animal.Longitude" class="form-control" />
        <span asp-validation-for="Animal.Longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Animal.Latitude" class="control-label"></label>
        <input asp-for="Animal.Latitude" class="form-control" />
        <span asp-validation-for="Animal.Latitude" class="text-danger"></span>
    </div>
            <input asp-for="Animal.UserId" class="form-control hidden collapse" />
            <input asp-for="Animal.AnimalId" class="form-control hidden collapse" />
    <div class="form-group">
        <input type="submit" value="Spara" class="btn btn-default" />
    </div>
    </form>
</div>
</div>

