
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Du har inte behörighet för att visa denna sida</h2>

<a asp-action="Index" asp-controller="Home">Klicka här för att återgå till startsidan</a>

