
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password Confirmation</h2>

<h3>If you have an account with us an email has been sent with the instructions to reset your password.</h3>

